/* @media screen and (min-width: 1080px) {
    body {
        background-color: lightblue;
    }
}

@media screen and (max-width: 1080px) {
    body {
        background-color: lightcoral;
    }
}

@media screen and (min-height: 700px) {
    body {
        color: purple;
    }
}

@media screen and (max-height: 700px) {
    body {
        color: white;
    }
} */

/* @media screen and (orientation: landscape) {
    body {
        background-color: #efefef;
    }
}

@media screen and (orientation: landscape) {
    body {
        background-color: #2d2d2d;
        color: white;
    }
} */

.flex {
    display: flex;
    justify-content: center;
}

.flex-el {
    width: 250px;
    height: 250px;
    background-color: #3db399;
    border: 2px solid #2d8370;
}

.grid-el {
    background-color: #3db399;
    border: 2px solid #2d8370;
    padding-bottom: 100%;
}

.grid-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

@media screen and (max-width: 600px) {
    .flex {
        flex-direction: column;
    }
    .flex-el {
        width: 100%;
    }
}

@media screen and (max-width: 1080px) {
    .grid-8 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 720px) {
    .grid-8 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 540px) {
    .grid-8 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 360px) {
    .grid-8 {
        grid-template-columns: 1fr;
    }
}